.btn_delete{
  background-color: #dce6ef;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1),
    0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.btn_delete:hover{
  background-color: #5f87a4;
}

.link{
  display: flex;
  flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.link:hover{
  color: #6e9bbb;
}

