.button{
  background-color: #b6d6ef;
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.button:hover{
  background-color: #5cb2ec;
}