.button{
  display: flex;
  background-color: #eef2f6;
  margin-top: 10px;
  margin-left: 5px;
  padding: 20px 40px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.button:hover{
  background-color: #bddef5;
}

.search_trip{
  border: none;
  height: 40px;
  width: 10%;
  border-radius: 2px;
  background-color: rgb(245, 245, 245);
}

.submit{
  height: 40px;
}